services:
  django:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    command: gunicorn ai.wsgi:application --bind 0.0.0.0:8000
    ports:
      - "8000:8000"
    env_file:
      - ../.env
    restart: always
